@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}


:root{
  --gray: #EAEBF3;
  --dark-gray: #A5A5A5;
  --black: #000000;
  --text-sm: 1rem;
  --text-md: 1.2rem;
  --text-lg: 1.4rem;
}

.text-sm{
  font-size: var(--text-sm)
}

.text-md{
  font-size: var(--text-md);
}

.text-lg{
  font-size: var(--text-lg);
}

body{
  background: var(--gray);
  font-family: 'Source Sans 3', sans-serif;
}


.header-container{
  display: grid;
  grid-template-columns: 16px 50px 150px 50px 16px;
  height: 150px;
  margin-top: 20px;
}

.icon--small{
  width: 16px;
}

.center{
  display: grid;
  place-items: center;
}


.neumorphism-wrapper{
  position: relative;
  box-shadow: 5px 5px 16px rgb(163 177 198 / 60%),
             -5px -5px 16px rgb(255 255 255 / 50%);
}

.header-container .icon-wrapper{
  margin-bottom: 20px;
}

.icon-wrapper{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-self: end;
}

.picture-wrapper{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bottom{
  align-self: end;
}

.notification{
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  top: 1px;
  right: 1px;
}

.story-gradient{
  border-radius: 50%;
  padding: 1px;
  background: linear-gradient(to right, red, purple);
}

.profile-picture{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid var(--gray);
  background-color: var(--gray);
}

.profile-username{
  font-weight: bold;
}

.post{
  display: grid;
  grid-template-columns: repeat(3,90px);
  height: 50px;
  border-radius: 10px;
  padding-inline: 10px;
  margin-top: 16px;
}
.text-box{
  display: flex;
  flex-direction: column;
  place-items: center;
}

.text-box :nth-child(2){
  color: var(--dark-gray);
}

.highlights-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 282px;
  justify-content: space-between;
}

.highlight-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-wrapper p{
  margin-top: 5px;
}

.photos-container{
  margin-top: 20px;
  display: grid;
  gap: 3px;
  width: 282px;
  grid-template-columns: repeat(3,1fr);
}

.photos-container img{
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}